<section>
  <div class="columns is-centered is-multiline is-gapless is-vcentered has-background-black">
    {% for project in site.data.projects %}
    <div class="column is-one-third">
      <figure class="image is-3by2">
        <img src=".{{project.image}}" alt="{{project.name}}">
      </figure>
    </div>
    <div class="column is-8 is-narrow has-text-left m-4">
      <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
      <div class="box m-2 has-background-black">
        <p class="has-text-white is-size-7 content">
          作業期間 : {{ project.start }} - {% if project.period != '/' %} {{ project.end }} {% else %} 継続中 {% endif %}
          {% unless project.period == '/' %} ({{ project.period }}) {% endunless %}</p>
        <p class="has-text-white has-text-weight-light is-size-8 content">{{ project.description }}</p>
        {% if project.tags.size > 0 %}
        <div class="tags is-normal">
          {% for tag in project.tags %}
          <span class="tag is-rounded is-info">{{ tag }}</span>
          {% endfor %}
        </div>
        {% else %}
        <span class="tag is-rounded">None</span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>