---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  {% include skill.html %}
  {% include projects.html %}
  {% include certification.html %}
  {% include contact.html %}
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
      item[5].classList.remove('is-active');
      item[6].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1230) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
      item[5].classList.remove('is-active');
      item[6].classList.remove('is-active');
    }
    if (scroll > 1230 && scroll < 2095) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
      item[4].classList.remove('is-active');
      item[5].classList.remove('is-active');
      item[6].classList.remove('is-active');
    }
    if (scroll > 2095 && scroll < 2595 ) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.add('is-active');
      item[5].classList.remove('is-active');
      item[6].classList.remove('is-active');
    }
    if (scroll > 2595 && scroll < 3295 ) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
      item[5].classList.add('is-active');
      item[6].classList.remove('is-active');
    }
    if (scroll > 3295 ) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
      item[5].classList.remove('is-active');
      item[6].classList.add('is-active');
    }
  });
</script>

</html>
