---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <p class="title is-uppercase has-text-weight-medium has-text-grey">All Projects</p><br>
                </div>
                {% include project-card.html %}

                <div class="section">
                    <div class="columns">
                        <div class="column has-text-center-desktop has-text-center-tablet has-text-center-fullhd has-text-center-widescreen">
                            <div class="container columns is-centered">
                                <div>
                                    <a href="{{site.url}}{{site.baseurl}}/#projects"
                                       class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">BACK
                                    </a>
                                    <hr>
                                    <a href="{{site.url}}{{site.baseurl}}/#contact"
                                       class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                        Me</a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>